<header class="mt-4 ml-2">
  <img width="160" src="<%= relative_url '/images/logo.svg' %>" alt="Logo"/>

  <nav class="menu">
    <ul class="menu-list">
      <li><a href="<%= relative_url '/' %>">Home</a></li>
      <% ['about', 'posts', 'courses', 'units'].each do |slug|
        href = relative_url "/#{slug}"
        title = slug.capitalize
      %>
        <li><a href="<%= href %>"><%= title %></a></li>
      <% end %>
    </ul>
  </nav>

</header>

